body {
    background-color: rgb(33, 33, 33);
}

.container {
    border: 5px solid rgb(49, 49, 49);
    margin: auto;
    max-width: 400px;
    min-width: 400px;
    margin-top: 40px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0.25em;
    min-height: 75px;
    font-size: xx-large;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid rgb(59, 59, 59); */
    flex-direction: row-reverse;
}

button {
    flex: 1 0 25%;
    padding: 22px;
    color: white;
    background-color: rgb(18, 18, 18);
    border-color: rgb(25, 25, 25);
    border-radius: 8px;
    font-size: large;
}

button:hover {
    filter: brightness(150%);
}

.delete, .divide, .multiply, .subtract, .add {
    color: orange;
    background-color: rgb(20, 20, 20);
}

.percentage, .clear-input, .clear-everything, .inverse, .sqrt, .square {
    color:green;
    background-color: rgb(20, 20, 20);
}

.equals {
    background-color: rgb(20, 84, 129);
}

.buttons .digit {

}